<app-srplus-header [title]="'SRPlus Scan'"></app-srplus-header>

<ion-content>
  <div>
    <ion-text color="dark" class="prompt">{{ 'test' }}</ion-text>
  </div>

  <form [formGroup]="recordForm" (ngSubmit)="onSubmit(model)">
    <formly-form 
      [form]="recordForm" 
      [fields]="fields" 
      [model]="model">
    </formly-form>
  </form>
</ion-content>

<ion-footer>
  <ion-button>Zurück</ion-button>
  <ion-button (click)="onSubmit()" class="ion-float-right">Weiter</ion-button>
</ion-footer>